<div class="stats">
  <%= link_to following_user_path(user) do %>
    <span class="following stat">
      <%= user.following.count %>
    </span>
    following
  <% end %>
  <%= link_to followers_user_path(user) do %>
    <span class="followers stat">
      <%= user.followers.count %>
    </span>
    followers
  <% end %>
</div>
