<%= link_to current_user.gravatar_image(size: 50), current_user %>
<h1><%= current_user.name %></h1>
<span><%= link_to "view my profile", current_user %></span>
<span><%= current_user.micropost_count %></span>
