input,
textarea,
select,
.uneditable-input {
  @include box-sizing;
  border: 1px solid $gray-border;
  margin-bottom: 15px;
  width: 100%;
}

input {
  height: auto;

  &[type="checkbox"].remember-me {
    margin-left: 0;
    width: auto;
  }
}

.error-explanation {
  color: $red;

  ul {
    color: $red;
    margin: 0 0 30px;
  }
}

.field-with-errors {
  // from Bootstrap
  @extend .has-error;

  .form-control {
    // from Bootstrap
    color: $state-danger-text;
  }
}

.checkbox {
  margin-bottom: 10px;
  margin-top: -10px;

  span {
    font-weight: normal;
    margin-left: 20px;
  }
}
