aside section {
  margin-top: 20px;
  padding: 10px 0;

  &.user-info {
    margin-top: 20px;
  }

  &:first-child {
    border: 0;
    padding-top: 0;
  }

  span {
    display: block;
    line-height: 1;
    margin-bottom: 3px;
  }

  h1 {
    font-size: 1.4em;
    letter-spacing: -1px;
    margin-bottom: 3px;
    margin-top: 0;
    text-align: left;
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar-edit {
  margin-top: 15px;
}
